$def with (name, motd, public, limit, awaytime, asd, gchat, bufreq, bumax, ircserver, ircchannel, owner, specs, worlds, users, directors, admins, mods, members)
<title>Server Status</title>

<h3>Who's online?</h3>
There are $len(users) users online in $len(worlds) worlds.<br />
<ul>
$for usrs in users:
    <li>
    $if usrs in directors:
        <span style="color:green">$usrs</span>
    $elif usrs in admins:
        <span style="color:red">$usrs</span>
    $elif usrs in mods:
        <span style="color:blue">$usrs</span>
    $elif usrs in members:
        <span style="color:grey">$usrs</span>
    $else:
        <span style="color:black">$usrs</span>
    </li>
</ul>

<hr /><h3>Worlds</h3>
$for world, wusrs, info in worlds
    <p>
    $world - $info['x']x$info['y']x$info['z']; $info['owner']<br />  
    $if info['locked']:
        <span style="color:green">Locked</span>
    $else:
        <span style="color:red">Locked</span>
    $if info['private']:
        <span style="color:green">Private</span>
    $else:
        <span style="color:red">Private</span>
    $if info['physics']:
        <span style="color:green">Physics</span>
    $else:
        <span style="color:red">Physics</span>
    $if info['colors']:
        <span style="color:green">Colors</span>
    $else:
        <span style="color:red">Colors</span>
    $if info['fwater']:
        <span style="color:green">FWater</span>
    $else:
        <span style="color:red">FWater</span>
    $if info['solids']:
        <span style="color:green">Solids</span>
    $else:
        <span style="color:red">Solids</span>
    <ul>
    $for usr in wusrs:
        <li>
        $if usr.lower() == info['owner'].lower():
            <span style="color:gold">$usr</span>
        $elif usr.lower() in info['ops']:
            <span style="color:darkcyan">$usr</span>
        $elif usr.lower() in info['builders']:
            <span style="color:cyan">$usr</span.
        $else:
            $usr
        </li>
    </ul>

<hr /><h3>Staff</h3>
<p>Directors ($len(directors))</p>
<ul>
$for director in directors:
    <li>$director</li>
</ul>
<p>Admins ($len(admins))</p>
<ul>
$for admin in admins:
    <li>$admin</li>
</ul>
<p>Mods ($len(mods))</p>
<ul>
$for mod in mods:
    <li>$mod</li>        
</ul>

<hr /><h3>Players</h3>
<p>Members ($len(members))</p>