html {
	background:#000;
	color:#FFF;
	font:28px/28px arial;
}
a {
	color:#888;
	text-decoration:underline;
	-moz-transition:.3s linear;
	-webkit-transition:.3s linear;
	-o-transition:.3s linear;
	transition:.3s linear;
}
a:hover {
	color:#BBB;
}
.fancylink {
	color:#888;
	text-shadow: 0px 0px 1px #FFF;
	font:36px/36px arial;
	-moz-transition:.3s linear;
	-webkit-transition:.3s linear;
	-o-transition:.3s linear;
	transition:.3s linear;
	padding-left:12px;
	padding-right:12px;
}
.fancylinka {
        color:#BBB;
        text-shadow: 0px 0px 1px #FFF;
        font:36px/36px arial;
        -moz-transition:.3s linear;
        -webkit-transition:.3s linear;
        -o-transition:.3s linear;
        transition:.3s linear;
        padding-left:12px;
	text-decoration:none;
        padding-right:12px;
}
.fancylink:hover  {
	color:#BBB;
	text-shadow: 0px 0px 2px #CCC;
}
.cyan {
	color:#0094FF;
	text-shadow: 0px 0px 1px #0094FF;
}
.orange {
	color:#FF6A00;
	text-shadow: 0px 0px 1px #FF6A00;
}
.line {
	padding-left:20px;
	padding-right:20px;
}
.ident {
	margin-top:10px;
	text-indent:25px;
	font:24px/24px calibri;
}
.ptitle {
	text-align:center;
	text-shadow: 0px 0px 1px #888;
	padding-bottom:15px;
}
.prbod {
	font:18px/18px calibri;
	text-indent:20px;
	padding:10px;
}
.smallerfont {
	font: 18px/18px calibri;
}
#conbody {
}
#projects {
	float:left;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-top:15px;
}
#projects ul {
	clear:left;
	float:left;
	display:inline;
	padding:0px;
	position:relative;
	left:50%;
	margin-left:auto;
	margin-right:auto;
}
#projects ul li {
	overflow:hidden;
	padding-bottom:5px;
	display:block;
	float:left;
	position:relative;
	right:50%;
	margin-left:10px;
	margin-right:10px;
	margin-top:15px;
	margin-bottom:10px;
	list-style-type:none;
	background:#222;
	width:150px;
	height:275px;
	border-color:#333;
	border-width:1px;
	border-style:solid;
	-moz-transition:.3s linear;
	-webkit-transition:.3s linear;
	-o-transition:.3s linear;
	transition:.3s linear;
}
#projects ul li:hover {
	background:#333;
	border-color:#444;
}
#container {
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:7%;
}
#spacer {
	height:20%;
}
#aph {
	width:600px;
	font:90px/90px arial;
	text-align:center;
	letter-spacing: -3px;
	font-weight:bold;
}
#abh {
	width:600px;
	letter-spacing: -3px;
	font-weight:bold;
        text-align:justified;
}
#prh {
	width:600px;
	letter-spacing: -3px;
	font-weight:bold;
        text-align:justified;
}
#coh {
	width:600px;
	letter-spacing: -3px;
	font-weight:bold;
        text-align:justified;
}
#nav{
	width:600px;
	text-align:center;
}
#nav2 {
	text-align:center;
	font:24px/24px calibri;
}
